<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.miniblog.domain.board.BoardMapper">
    <select id="getList" resultType="com.example.miniblog.domain.board.BoardResponse">
        SELECT id, user_id, title, content, file_name, file_path, uploaded_at, modified_at, delete_yn
        From board
        WHERE delete_yn = 0;
    </select>
</mapper>